$border-radius: 7px;
$left: 10px;

#skelContainer {
  margin: 2em;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  header {
    height: 60px;
    background: rgb(78, 78, 202);
    position: relative;
    font-size: 25px;
    padding: 10px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    text-align: center;
    @include flex-row(center, center);
    .dragMe {
      position: absolute;
      color: rgba($color: #fff, $alpha: 0.65);
      top: 10px;
      left: $left;
      font-size: 12px;
      cursor: move;
    }
    .windowName {
      position: relative;
      font-weight: bold;
    }
    .options {
      position: absolute;
      @include flex-row();
      right: 0;
      div {
        transition: 0.2s ease;
        font: 0.5em sans-serif;
        padding: 0.8em;
        color: rgba($color: rgb(217, 227, 228), $alpha: 0.65);
        &:hover {
          cursor: pointer;
          transform: scale3d(1.3, 1.3, 1);
          color: white;
        }
      }
      .overlay-mini-btn {
        padding: 0.5em;
        transform: scale3d(0, 0, 0);
        @extend %btnOverlay-base;
      }
    }
  }
  .frameSkel {
    height: 50vh;
    background: white;
    width: 100%;
    border: none;
  }
}
//////////////////
// OVERLAY
//////////////////
#frameSkel-overlay {
  position: absolute;
  background: rgba($color: #000, $alpha: 0.75);
  width: 100%;
  height: 100%;
  padding: 5em;
  @include flex-column(center, center);
  section {
  }
  .overlay-button {
    padding: 0.5em;
    @extend %btnOverlay-base;
    &:active {
      margin-top: 5px;
    }
    &:hover {
      transform: scale3d(1.3, 1.3, 1.3);
    }
  }
}

//////////////////
// History  //////
//////////////////

.history {
  width: 80px;
  position: absolute;
  @include flex-row(space-between);
  left: $left;
  top:30px;
  img {
    &:hover {
      cursor: pointer;
      transform: scale3d(.8,.8,.8)
    }
  }
}
